
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Mali|Pangolin');
@import url('https://fonts.googleapis.com/css?family=KoHo:400i|Nunito+Sans|Nunito:400,600i');

body{
  margin-left: auto;
  margin-right: auto;
}

header{
  background-color: #FFFFFF;
  position:fixed;
  top: 0px;
  left:0px;
  z-index:999;
  width: 100%;
  display:flex;
  padding:10px;
  justify-content:space-between;
  align-items:center;
}

header img{
  float:left;
  margin: auto;
}
h1{
  font-size: 25px;
  font-family: 'Cabin Sketch', cursive;
  margin: auto;
}

.logo{
  display: block;
  justify-content: space-around;
}
.logo a{
  text-decoration: none;
}
header a:link{
  color: #000000;
}
header a:visited{
  color: #000000;
}
header a:hover{
  color: gold;

}


.main-menu{
  margin-right: 60px;
  display:flex;
  justify-content:space-around;
	align-items:center;
}

.main-menu li{
  list-style-type:none;
  font-size: 20px;
}
.main-menu a{
  text-decoration: none;
}
.main{
  background-color: gold;
  max-width: 100%;

}

.row {
  display: flex;
  justify-content: space-around;
  padding: 0 0 50px 0 ;
}

.image-block {
  float: left;
  max-width: 45%;
  flex-basis: 45%;
  padding: 0 0 50px 0 ;
}

.image-block img {
  width: 100%;
}

.row-text-content {
  float: right;
  flex-basis: 45%;
  max-width: 45%;
  margin: 20px;
}
.main p{
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}


.icon{
  width: 70px;
  fill: gold;
  stroke: #FFFFFF;
  stroke-width: 4%;
  stroke-linejoin: round;

}





.videos{
  text-align: center;

}

footer{
  background-color: gold;
  height: 60px;
}



.background{
  background-color: gold;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}


h2{
  font-size: 40px;
  font-family:'Mali', cursive;
  text-align: center;
  padding: 150px 0 0 0;
}

footer p{
  padding: 20px;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}


li{
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;

}

.navigation-block {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 70px 0 70px 0;
}
.col{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: stretch;
}
.col1 > *{
	width:calc((90% / 2) - 40px);
}

article{
	background-color:gold;
  margin: 20px;
}
article img{
	display:block;
	width:95%;
  margin: auto;

}
article h3,a,p{
  margin-left:15px;
  font-family: 'Nunito Sans', sans-serif;
}

.pollinisation{
  background-color:
}

.main-01 h2{
  font-size: 40px;
  font-family: 'Mali', cursive;
  text-align: center;
}
.main-01{
  background-color: gold;
}

.row-video {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 200px;

}
.row-video-04 {
  display: flex;
  width: 940px;
  padding-top: 200px;

}


.icon-retour,.icon-avant{
  margin: auto;
}
.videos-text-content{
  width: 1000px;
  display: block;
  margin: auto;
  padding: 0 0 30px 0;
}
.videos-text-content h3{
  font-family:  'Nunito Sans', sans-serif;
}
.videos-text-content p{
  font-family:  'Nunito Sans', sans-serif;
  font-size: 16px;
}

form.formulaire {
    display: table;
}

div.formulaire {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
    font-family:  'Nunito Sans', sans-serif;
}
h4{
   font-family: 'Nunito Sans', sans-serif;
}

label {
    padding-right: 10px;
}

.inscription{
  display: block;
  width: 400px;
  padding-left: 160px;
}
